* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; */

  /* ⚪️ 밑에 내코드 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.center {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  width: 1020px;
  height: auto;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.replay {
  transition: all ease-in-out 200ms;
}

.replay:hover {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  box-shadow: 1px 1px 10px #222;
  color: #555;
}

.이겼습니다 {
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

.졌습니다 {
  opacity: 0.5;
}

/* .무승부 {
  
} */

/* ⚪ */
/* .box-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  border: 1px solid #000;
  text-align: center;
  padding: 50px;
}

.box:first-child {
  margin-right: 10px;
}

.box img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

button:last-child {
  margin: 0;
}

.win {
  border: 5px solid green;
  color: green;
}
.lose {
  border: 5px solid red;
  color: red;
}
.tie {
  border: 5px solid black;
  color: black;
} */
